<li class="nav-item">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Posts" asp-action="Create">Create</a>
</li>


@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Posts" asp-action="Index">Post Manager</a>
        </li>
    }
}

